#root {
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 2rem;
}

.app.dark {
  background-color: #23272f;
}
.app.dark h1 {
  color: white;
}
.app.dark h2 {
  color: white;
}

.app.dark p {
  color: white;
}
